* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  cursor: url('../images/cursor.svg'), auto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  overflow: hidden;
  color: red;
}

::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

::-webkit-scrollbar-thumb {
  background: rgba(77, 123, 255, 0.6);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:  rgba(77, 123, 255, 0.8);
}

ul {
  list-style: none;
}

